/* 

  0 - 600px = 37.5rem:      Phone
  600 - 768px = 48rem:    Tablet portrait
  900 - 1200px = 75rem:   Tablet landscape 

*/

.main-container {
  padding: 4rem;
}

.center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 31.25rem 31.25rem;
  justify-content: space-between;
}

.heading-about {
  color: #7843e9;
}

.grid-container-two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-container-two > div {
  padding: 10px;
  color: #666666;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 7px;
  text-align: center;
}

@media (max-width: 61.93rem) {
  .main-container {
    padding: 2rem;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container-two {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 37.5rem) {
  .main-container {
    padding: 1rem;
  }
  .grid-container-two {
    grid-template-columns: repeat(2, 1fr);
  }
}
