/* 
  0 - 600px = 37.5rem:      Phone
  600 - 768px = 48rem:    Tablet portrait
  900 - 1200px = 75rem:   Tablet landscape 

*/

.container-wrapper {
  display: flex;
  padding: 3.5rem 0 3.5rem 3.5rem;
}
.section-two-image {
  width: 31.25rem;
}

.section-one-page {
  color: #333333;
}

.section-one-buttons {
  margin-top: 2rem;
}

.section-one-buttons {
  margin-top: 2.5rem;
}

.icons-wrapper {
  margin-top: 3rem;
}

.icon {
  width: 40px;
  margin-right: 1rem;
}

.section-two-image-sc {
  display: none;
}

@media (max-width: 61.93rem) {
  .container {
    padding: 2rem;
  }
  .section-two-image {
    display: none;
  }
  .container-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .section-two-image-sc {
    display: block;
    border: 2px solid #141313;
    border-radius: 50%;
    width: 4.375rem;
  }
}
