.modal-content {
  margin: 0 auto;
  background-color: var(--background);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-user-section {
  display: flex;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.modal-close {
  text-align: right;
}

.btn-third {
  color: #9c9c9c;
}
.btn-third:hover {
  color: #804eea;
}

.modal-user-image {
  border-radius: 50%;
}

.modal-name-headers {
  position: relative;
  left: 0.5rem;
}

.modal-name-headers h5 {
  display: inline;
}

.modal-name-headers span {
  font-size: 15px;
  color: #5b5a60;
}

.btn-comment:hover {
  background-color: rgb(226, 226, 226);
}

.modal-close {
  background-color: var(--background);
}

.modal-close > i {
  color: var(--text-white);
}

.profile > span {
  border: 3px solid rgb(221, 240, 240);
  background-color: var(--background-project);
  border-radius: 50%;
  padding: 0.25rem 0.4rem;
}
