/* 

  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape 

*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --purple: #7843e9;
  --grey: #333;
  --white: #fff;
  --dark: #000;
}

.dark__mode {
  --purple: #7843e9;
  --grey: #333;
  --white: #131516;
  --dark: #d8d4cf;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  color: var(--dark);
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.text-grey {
  color: var(--grey);
}

.text-purple {
  color: var(--purple);
}

.margin-bottom {
  margin-bottom: 1rem;
}

.main-header {
  background-color: var(--white);
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  z-index: 900;
  position: sticky;
  top: 0;
}

.fa-bars {
  display: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main-nav ul {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header a {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.3rem;
}

.main-header-logo {
  font-weight: 700;
  border: 2px solid var(--purple);
  border-radius: 50%;
  padding: 0.25rem 0.4rem;
  cursor: pointer;
}

.main-header a:hover {
  color: var(--purple);
}
.btn {
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

.btn-primary {
  border: 2px solid var(--purple);
  background-color: var(--white);
  margin-right: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  font-size: large;
}

.btn-secondary {
  border: 2px solid var(--purple);
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--white);
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
}

.vertical-line {
  opacity: 0.5;
}

input,
textarea {
  padding: 0.5rem;
  color: var(--dark);
  width: 18.75rem;
  border: 2px solid #535151;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}
.input-control .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
  margin: 0.2rem;
}

input:focus,
textarea:focus,
button {
  outline: 0;
}

input::placeholder,
textarea::placeholder,
input[type="text"] {
  font-size: 0.9rem;
}

form button {
  width: 100%;
}

@media (max-width: 37.5rem) {
  .project-wrapper {
    flex-direction: column;
    align-items: start;
  }
}

footer {
  background-color: #141313;
  color: #fff;
  text-align: center;
  font-size: medium;
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  margin-left: 0.5rem;
}

.footer-name {
  font-weight: 700;
  text-decoration: underline;
}

.footer-link {
  color: #fff;
}

.background-with-img {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(../images/landpage-bg.jpg);
  background-position: center;
  position: relative;
}

.background-without-img {
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.8),
    rgba(245, 245, 245, 0.8)
  );
}

.projects-bg {
  background-color: rgba(246, 242, 242, 0.5);
}
