/* 

  0 - 600px = 37.5rem:      Phone
  600 - 768px = 48rem:    Tablet portrait
  900 - 1200px = 75rem:   Tablet landscape 

*/

.main-container {
  margin: 5rem;
}

.center {
  text-align: center;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.grid-container-child {
  width: 50%;
}

.heading-about {
  color: #7843e9;
}

.main-container-child {
  padding-top: 5rem;
}

.grid-container-two {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.grid-container-two > div {
  padding: 10px;
  color: #666666;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 7px;
  text-align: center;
}

@media (max-width: 37.5rem) {
  .main-container {
    margin: 1rem;
  }
  .grid-container-two {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 48rem) {
  .grid-container {
    flex-direction: column;
    gap: 0;
  }
  .grid-container-child {
    width: 100%;
  }
  .grid-container-two {
    grid-template-columns: repeat(2, 1fr);
  }
}
