/* 

  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape 

*/

.main-container {
  margin: 3rem;
}

.center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 500px;
  /* gap: 10rem; */
  justify-content: space-between;
}

.heading-about {
  color: #7843e9;
}

.about-text-grey {
  color: #333;
}

.main-container-child {
  padding-top: 5rem;
}

.grid-container-two {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-container-two > div {
  padding: 10px;
  color: #666666;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 7px;
  text-align: center;
}
