/* 
  481px - 767px = extra small device
  0 - 600px = 37.5rem:      Phone
  600 - 768px = 48rem:    Tablet portrait
  900 - 1200px = 75rem:   Tablet landscape 

*/
.container-wrapper {
  display: flex;
}
.section-two-image {
  width: 31.25rem;
}
.section-one-name {
  color: #7843e9;
}

.section-one-page {
  color: #333333;
}

.section-one-buttons {
  margin-top: 2rem;
}

.section-one-buttons {
  margin-top: 2.5rem;
}

.btn {
  padding: 0.5rem 2rem;
}

.btn-primary {
  border: 2px solid #7843e9;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  font-size: large;
}

.btn-secondary {
  border: 2px solid #7843e9;
  border-radius: 5px;
  background-color: #7843e9;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
}

.icons-wrapper {
  margin-top: 3rem;
}

.icon {
  width: 40px;
  margin-right: 1rem;
}

.section-two-image-sc {
  display: none;
}

@media (max-width: 37.5rem) {
  .container {
    margin: 1rem;
  }
}

@media (max-width: 48rem) {
  .section-two-image {
    display: none;
  }
  .container-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-two-image-sc {
    display: block;
    border: 2px solid #141313;
    border-radius: 50%;
    width: 4.375rem;
  }
}
