.container-wrapper {
  display: flex;
}
.section-two-image {
  /* background-position: bottom right; */
  width: 500px;
}
.section-one-name {
  color: #7843e9;
}

.section-one-page {
  color: #333333;
}

.section-one-buttons {
  margin-top: 2rem;
}

.section-one-buttons {
  margin-top: 2.5rem;
}

.btn {
  padding: 0.5rem 2rem;
}
.btn-primary {
  border: 2px solid #7843e9;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  font-size: large;
}

.btn-secondary {
  border: 2px solid #7843e9;
  border-radius: 5px;
  background-color: #7843e9;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
}

.section-one-icons {
  margin-top: 3rem;
}

.section-one-icons .icon {
  width: 40px;
  margin-right: 1rem;
}

@media (max-width: 700px) {
  .section-two-image {
    display: none;
  }
  .container {
    margin: 1rem;
  }
}
