/* 

  0 - 600px = 37.5rem:      Phone
  600 - 768px = 48rem:    Tablet portrait
  900 - 1200px = 75rem:   Tablet landscape 

*/
.project-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-wrapper-image {
  margin: 2rem;
}
.project-wrapper-image > img {
  width: 15rem;
  height: 14rem;
  border-radius: 5px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input,
textarea {
  padding: 0.5rem;
  color: #000;
  width: 18.75rem;
  border: 2px solid #535151;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder,
input[type="text"] {
  font-size: 0.9rem;
}

form button {
  width: 100%;
}

@media (max-width: 37.5rem) {
  .project-wrapper {
    flex-direction: column;
    align-items: start;
  }
}
