/* 

  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape 

*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.text-grey {
  color: #333;
}

.text-purple {
  color: #7843e9;
}

.container {
  margin: 3.5rem 0 3.5rem 3.5rem;
}

.main-header {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  z-index: 900;
  position: sticky;
  top: 0;
}

.fa-bars {
  display: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main-nav ul {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}

.main-header-logo {
  font-weight: 700;
  border: 2px solid #3a0ca3;
  border-radius: 50%;
  padding: 0.25rem 0.4rem;
  cursor: pointer;
}

.main-header a:hover {
  color: #7843e9;
}
.btn {
  padding: 0.5rem 2rem;
}

.btn-primary {
  border: 2px solid #7843e9;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  font-size: large;
}

.btn-secondary {
  border: 2px solid #7843e9;
  border-radius: 5px;
  background-color: #7843e9;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(167, 164, 164, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
}

.vertical-line {
  opacity: 0.5;
}

input,
textarea {
  padding: 0.5rem;
  color: #000;
  width: 18.75rem;
  border: 2px solid #535151;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder,
input[type="text"] {
  font-size: 0.9rem;
}

form button {
  width: 100%;
}

@media (max-width: 37.5rem) {
  .project-wrapper {
    flex-direction: column;
    align-items: start;
  }
}

footer {
  background-color: #141313;
  color: #fff;
  text-align: center;
  font-size: medium;
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  margin-left: 0.5rem;
}

.footer-name {
  font-weight: 700;
  text-decoration: underline;
}

.footer-link {
  color: #fff;
}

@media (max-width: 37.5rem) {
  .main-nav ul {
    display: none;
  }
  .fa-bars {
    display: block;
  }
}
